<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="log-path">log</Property>
	</Properties>
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
		<RollingFile name="file-info-log"
			fileName="${log-path}/logfile-info.log"
			filePattern="${log-path}/logfile-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<AppenderRef ref="console-log" level="error" />
			<AppenderRef ref="file-info-log" level="info" />
		</Root>
	</Loggers>
</Configuration>